

@charset "utf-8";
/* CSS Document */

body {
	font: 16px/1.6 "Yu Gothic";

	margin: 0;

	color: #313131;
}

header {
	position: fixed;
	z-index: 30;

	width: 100%;

	background-color: #3f51b5;
}
nav li.nav_logo {
	margin-right: auto;
}

nav {
	width: 80%;
	margin: 0 auto;

	color: white;
}
nav ul {
	position: relative;

	display: flex;
	align-items: center;
	flex-flow: row;

	margin: 0;
	padding: 6px;

	list-style-type: none;
}

nav li {
	padding: 15px;
}


nav a:not(.nav_logo) {
	position: relative;

	display: inline-block;

	text-decoration: none;

	color: white;
}
@media screen and (max-width: 480px) {
	/* 480pxまでの幅の場合に適応される */
	nav a:not(.nav_logo) {
		display: none;
	}
}
nav a:not(.nav_logo)::after {
	position: absolute;
	bottom: 2px;
	left: 0;

	visibility: hidden;

	width: 100%;
	height: 1px;

	content: "";
	transition: .3s;

	opacity: 0;
	background: #e81919;
}
nav a:not(.nav_logo):hover::after {
	bottom: -1px;

	visibility: visible;

	opacity: 1;
}


.inner {
	width: 80%;
	max-width: 100%;
	margin: 0 auto;
}

.contents {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding-top: 90px;

	background-image: url("image/mv-1200x801.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}






.contents_transparent {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 90px 0 ;

	background-color: rgba(255,255,255,.5);
}


.contents h2 {
	font-size: 68px;
	font-weight: bold;

	text-align: center;
}

.contents p {
	font-size: 38px;
	font-weight: bold;

	text-align: center;
}

.btn {
	line-height: 80px;

	width: 390px;
	margin: 100px auto;
}
.btn a {
	font-size: 38px;
	font-weight: bold;

	display: block;

	width: 100%;
	height: 100%;

	text-align: center;
	text-decoration: none;

	color: #fff;
	border: 1px solid #3f51b5;
	-webkit-border-radius: 12px;
	   -moz-border-radius: 12px;
	        border-radius: 12px;
	background: #3f51b5;
	box-shadow: 0 3px 6px #000;
}
.btn a:hover {
	color: #3f51b5;
	border: 1px solid #3f51b5;
	background-color: rgba(255,255,255,.5);
	box-shadow: 0 3px 6px #000;
}

.cards {
	background: #efefef;
}

.card_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	padding-bottom: 137px;
}

.card {
	box-sizing: border-box;
	width: calc(33.33333333% - 30px);
	margin: 0 10px 30px 0;
	padding: 20px 20px 22px 20px;

	transition: all .3s ease 0s;
	text-decoration: none;

	color: #6f7579;
	border-radius: 4px;
	background-color: #fff;
}


@media screen and (max-width: 768px) {
	/* 768pxまでの幅の場合に適応される */
	.card {
		width: calc(100% / 2 - 10px);
	}
}
@media screen and (max-width: 480px) {
	/* 480pxまでの幅の場合に適応される */
	.card {
		width: 100%;
	}
}


.card img {
	width: 100%;
	height: auto;
}

.card-title {
	position: relative;

	padding: 70px 0 140px 0 ;
}
.cards h2 {
	font-size: 60px;
	font-weight: bold;

	text-align: center;

	color: #6f7579;
}
.cards h2::after {
	position: absolute;
	bottom: 100px; /*下線の上下位置調整*/
	left: 50%;

	display: block;

	width: 50px; /*下線の幅*/
	height: 5px; /*下線の太さ*/

	content: "";
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translate(-50%); /*位置調整*/

	background-color: #3f51b5; /*下線の色*/
}


.cards h3 {
	font-size: 20px;

	padding: 20px 0;

	color: #6f7579;
}